/* ~~~~~~~~~~  HTML Elements  ~~~~~~~~~~ */
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

p {
    color: #8f8f8f;
}

/* ~~~~~~~~~~  Classes & Ids  ~~~~~~~~~~ */

/* Headings */
.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Containers */
.container-fluid{
    padding: 7% 15%;
}

/* Sections */
.colored-section {
    background-color: #ff4c68;
    color: #F8F8FF;
}
.white-section {
    background-color: #F8F8FF;
}

/* Section: Title */
#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}
.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: 700;
}
.nav-item {
    padding:  0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}
.img-cont{
    position: relative;
}
.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}
.download-button {
    margin: 5% 3% 5% 0;
}


/* Section: Features */
#features { 
    position: relative;
}

.feature-box {
    padding: 5%;
}
.feature-heading {
    font-size: 1.5rem;
}
.icon {
    margin-bottom: 1rem;
    color: #EF8172;
}
.icon:hover {
    color: #ff4c68;
}


/* Section: Testimonials */
#testimonials {
    background-color: #EF8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 100%, 100%;
    border-radius: 50%;
    width: 6rem;
    height: 2rem;
}
.testimonial-img {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

/* Section: Press    */
#press {
    background-color: #EF8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Section: Pricing */
#pricing {
    padding: 3% 15%;
}

.pricing-column {
    padding: 3% 2%;
}
.price-title {
    font-size: 1.5rem;
}
.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* Section: CTA */
#cta {
}

/* Section: Footer */
.footer-icon {
    padding: 1rem;
    align-items: center;
}

@media (max-width: 1019px) {
    #title {
        text-align: center;
    }
    .title-img {
        width: 50%;
        position: static;
        transform: rotate(0);
    }
}