/* ~~~~~~~~~~  HTML Elements  ~~~~~~~~~~ */
body {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
h3 {
    font-weight: 700;
    font-size: 1.5rem;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

/* ~~~~~~~~~~  Classes & Ids  ~~~~~~~~~~ */

/* Section: Title */
.btn {
    margin-bottom: 1rem;
}
.container-fluid{
    padding: 3% 15% 10%;
}
.nav-li-custom {
    font-family: 'Monteserrat-Light';
    font-size: 1.2rem;
    margin:  0 1.2rem;
}
.navbar-brand-custom {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    font-weight: 800;
}
.nav-custom {
    margin-bottom: 2rem;
}
.rotate-img25 {
    max-width: 347px;
    width: 60%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
    transform: rotate(25deg);
    position: absolute;
    right: 23%;
}
.space-between-buttons {
    visibility: hidden;
}

/* Section: Features */
#features { 
    background-color: #F8F8FF;
    padding: 7% 15%;
    text-align: center;
    position: relative;
}

.fa-4x {
    margin-bottom: 1rem;
    color: #EF8172;
}
.fa-4x:hover {
    color: #ff4c68;
}
.feature-box {
    padding: 5%;
}
.features-p {
    color: #8f8f8f;
    margin: 1rem auto;
}

/* Section: Testimonials */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 100%, 100%;
    border-radius: 50%;
    width: 6rem;
    height: 2rem;
}
.carousel-item {
    padding: 7% 15%;
}
.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px
}

/* Section: Pricing */
.pricing-column {
    padding: 3% 2%;
}

/* IDs */

#press {
    background-color: #EF8172;
    padding-bottom: 3%;
    text-align: center;
}
#pricing {
    background-color: #F8F8FF;
    padding: 3% 15%;
    text-align: center;
}
#testimonials {
    color: #fff;
    background-color: #EF8172;
    text-align: center;
}
#title {
    background-color: #ff4c68;
    color: #F8F8FF;
}